/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/app/dashboard/(auth)/register/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__I_rem{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .page_form__OuB01{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .page_input__PzVGF{
    padding: 20px;
    background-color: transparent;
    border: 2px solid #bbb;
    color:#bbb;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .page_button__A3sU6 {
    width: 300px;
    padding: 20px;
    cursor: pointer;
    background-color: #536DFE;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
  }
